### Python Database modules
- sqlite3
- psycopg
- MySQL-python

### Sqlite3

- Relational database management system
- Use in Python with the sqlite3 module
- SQLite is light in terms of setup, administration, and resources

In [2]:
import sqlite3

In [3]:
connection = sqlite3.connect('movies.db')

In [4]:
cursor = connection.cursor()

In [6]:
cursor.execute('''CREATE TABLE IF NOT EXISTS Movies 
    (Title TEXT, Director TEXT, Year INT)''')

In [8]:
connection.commit()

In [9]:
connection.close

In [ ]:
#### Manipulating records in SQLite database 

connection = sqlite3.connect('movies.db')
cursor = connection.cursor()

#cursor.execute("INSERT INTO Movies VALUES('Taxi Drive','Martin Scoreses',1976)")
famousFilms = [('Pulp Fiction', 'Quentin Tarantino', 1994),
('Back to the Future', 'Steven Spielberg', 1985),
('Moonrise Kingdom', 'Wes Anderson', 2012)]

cursor.executemany('Insert INTO Movies VALUES(?,?,?)', famousFilms)

records = cursor.execute("SELECT * FROM Movies")

print(cursor.fetchall())

for record in records:
    print(record)
    
connection.commit()
connection.close()

### Object-Relational Mapping(ORM)

#### SQLAIchemy is one of the most popular ORMS for relational database 
- SQLALchemy is a large SQL toolkit with lots of different components
- The two largest components are SQLALchemy Core(has a schema-centric view) and SQLALchemy ORM(an oject-centric view)

In [17]:
import sqlalchemy as db

In [ ]:
engine = db.create_engine('sqlte:///movies.db')
connection = engine.connect()
metadata = db.MetaData() 
movies = db.Table('Movies',metadata, autoload=True, autoload_with=engine)
query = db.select([movies])
conenction.execute(query)

In [ ]:
SELECT SUM(total_sales), emp_id
FROM work_with
GROUP BY emp_id;

In [ ]:
SELECT * FROM employee
WHERE birth_date LIKE '____-10%';

In [ ]:
SELECT * FROM client
WHERE client_name LIKE '%school%';

In [ ]:
# Union