In [1]:
import sqlite3

In [ ]:
CREATE TABLE student(
    student_id INT PRIMARY KEY AUTO_INCREMENT,
    name VARCHAR(20) NOT NULL,
    major VARCHAR(20) DEFAULT 'undecided',   
);

In [ ]:
DROP TABLE student;
ALTER TABLE student ADD gpa DECIMAL(3,2)
ALTER TABLE student DROP COLUMN gpa;
INSERT INTO student VALUES(1,'Jack','Biology' );
INSERT INTO student VALUES(2,'Kate','Sociology');
INSERT INTO student(student_id, name) VALLUES(4, 'Peter');
INSERT INTO student VALUES(3, 'Jack', 'CS')

In [ ]:
SELECT * FROM student;

In [ ]:
# Update 
UPDATE student
SET major ='BIO'
WHERE major = 'Biology';

UPDATE student
SET major = 'Computer Science'
WHERE major = 'CS';

UPDATE student
SET major ='Biochemistry'
WHERE major ='Bio' OR major ='Chemistry';

UPDATE student
SET name = 'Tom', major ='undecided'
WHERE student_id =1;

In [ ]:
# DELECT
DELECT FROM student
WHERE student_id = 5;
DELECT FROM student
WHERE name = 'Tom' AND major ='undecided';

In [ ]:
SELECT * FROM student;

SELECT name FROM student;

SELECT name, major FROM student
ORDER BY name DESC;

SELECT name, major FROM student
ORDER BY name, major
LIMIT 2;

SELECT * FROM student
WHERE major ='biology';

SELECT name, major FROM student
WHERE major ='biology' OR name ='Kate';